.box{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

#redBox{
  background-color: red;
}

#greenBox{
  background-color: green;
}

#blueBox{
  background-color: blue;
}

#yellowBox{
  background-color: yellow;
}

.inputBox{
  width: 20px;
}

.border{
  border-width: 3px;
  border-style: solid;
  width: 110px;
  height: 100px;
  float: center;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;

}

#greenBorder{
  border-color: green;
  background-color: #EAFAF1;
}

#redBorder{
  border-color: red;
  background-color: #F9EBEA;
}

#yellowBorder{
  border-color: yellow;
  background-color: #FEF9E7;
}

#blueBorder{
  border-color: blue;
  background-color: #EAF2F8;
}
